---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: normal;
		text-wrap: pretty;
	}

	h1{
        font-size: 2.8em;
		font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

    h2{
        width: 75%;
        font-size: 1.3em;
		font-weight: 400;
    }

	p, time{
		font-family: "Source Code Pro", sans-serif;
		font-weight: 350;
		line-height: 1.7;
		font-size: 1.1em;
		letter-spacing: .5;
	}

	p{
		color: rgb(0, 0, 0, .7);
	}

	h3{
		font-size: 1.7em;
		font-weight: bold;
		margin-bottom: .5em;
	}

	a{
		color: rgb(0, 0, 0);
	}
</style>
